/* general */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Fredoka', sans-serif;
}

/* utility */

.container{
  max-width: 1200px;
  margin: 0 auto;
}

/* main */

.container h1{
  text-align: center;
  font-size: 50px;
  color: rgb(211, 26, 103);
  padding-top: 30px;
}

.container .intro{
  padding-top: 30px;
  text-align: center;
}

.container .row{
  padding-top: 70px;
}

.row .col{
  float: left;
  margin-left: 40px;
  margin-bottom: 40px;
  height: 90px;
  width: calc(100%/3 - 80px);
  background-color: rgb(2, 2, 27);
  line-height: 30px;
  box-shadow: 13px -12px 32px -10px #000000;
}


.row .col img{
  float: left;
  padding-right: 10px;
  width: 30%;
  height: 100%;
  object-fit: cover;
}

.row .col .name{
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.row .col a{
  text-decoration: none;
  color: rgb(8, 218, 218);
}

.row .col .role{
  font-size: 13px;
}

.row .col .name, .role{
  color: white;
}